<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Mapa</title>
</head>

<body>
    <!--Mapa-->
    <div class="container">

        <div class="row mt-4">
            <div class="col-md-10 offset-md-1">
                <h3>Map</h3>
                {{m|safe}}
            </div>
        </div>
        <!--Fim Mapa-->


        <div class="row mt-4">
            <div class="col-md-10 offset-md-1">
                <h3>Map</h3>
                {{mBrasil|safe}}
            </div>
        </div>

        <h3>Testando Host IP :</h3>
        <ul>
            <li>IP Address : {{ip}}</li>
            <li>Device: {{ device_type}}</li>
            <li>Browser: {{browser_type}} {{browser_version}}</li>
            <li>OS: {{os_type}} {{os_version}}</li>
            <li>City: {{ location_city }}</li>
            <li>Country: {{ location_country }}</li>
            <li>Latitude: {{ latitude }}</li>
            <li>Longitude: {{ longitude }}</li>
            <li>Estado: {{ state_name }}</li>
            <li>Continente: {{ continent }}</li>
        </ul>





</body>

</html>