<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <a href="https://github.com/twbs/bootstrap/issues/new/choose" rel="noopener noreferrer" target="_blank">
        <title>Mapa</title>


</head>

<body>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>


                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!--Navbarend-->

    <!--Mapa-->
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-10 offset-md-1">
                <h3>Map</h3>
                {{m|safe}}
            </div>
        </div>

        <h1>Bem vindo!</h1>
        <h3>Verificando o Host :</h3>
        <ul>
            <li>IP Address : {{ip}}</li>
            <li>Device: {{ device_type}}</li>
            <li>Browser: {{browser_type}} {{browser_version}}</li>
            <li>OS: {{os_type}} {{os_version}}</li>
            <li>City: {{ location_city }}</li>
            <li>Country: {{ location_country }}</li>
            <li>Latitude: {{ latitude }}</li>
            <li>Longitude: {{ longitude }}</li>
            <li>Estado: {{ state_name }}</li>
            <li>Continente: {{ continent }}</li>
        </ul>
</body>

</html>